html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background: #000000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
